.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {
}

@media (min-width: 960px) {
}

@media (min-width: 1024px) {
  .inputsContainer {
    flex-direction: row;
  }
}
